# Python
__pycache__/
*.pyc
.venv/
.env

# Datos (no sensibles)
data/raw/*
data/bronze/*
data/silver/*

# Mantén sample para demo
!data/sample/*

# Notebooks
.ipynb_checkpoints/

# OS / IDE
.DS_Store
.vscode/
